

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.header {
  display: flex;
  flex-wrap: wrap;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  line-height: 22px;
  font-family: "Segoe UI", sans-serif;
}
.article {
  box-sizing: border-box;
  width: 47vw;
  margin: 1.5vw;
  margin-bottom: 0;
}


.panda-img {
  background: url('~/../images/panda.jpg') no-repeat; 
  background-size: cover;
  height: 50vh;
  background-position: center; 
}

.header {
  color: white;
  background-color: black;
}

.header h1 {
  font-family: "Segoe UI", sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  margin: 0;
  padding-top: 20px;
  padding-left: 10px;
}
.header img {
  height: 3.2em;
  width: auto;
  padding: 0.6em;
  font-size: 18px;
  vertical-align: middle;
}

h2 {
  color: rgb(242, 133, 0);
}

.initial-hide {
  display: none;
}

.footer {
  background-color: #ddd;
  color: black;
  font-family: "Segoe UI", sans-serif;
  padding: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
}
.footer span {
  padding-top: 0.3em;
  display: inline-block;
}
.footer img {
  height: 1.6em;
  width: auto; 
  float: right;
}

.orange-button {
  width: 100%;
  background-color: rgb(242, 133, 0);
  color: white;
  border: none;
  padding: 0.4em;
  font-family: "Segoe UI", sans-serif;
  font-size: 1.4em;
}




@media screen and (max-width: 720px) {
  .article {
      width: 86vw;
      margin: 6vw;
  }
  .header img {
      font-size: 12px;
  }
  .header h1 {
      font-size: 25px;
      padding-top: 20px;
  }
  .footer {
    position: relative;
  }
}
