

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.header {
  display: flex;
  flex-wrap: wrap;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  line-height: 22px;
  font-family: "Segoe UI", sans-serif;
}
.article {
  box-sizing: border-box;
  width: 47vw;
  margin: 1.5vw;
  margin-bottom: 0;
}


.panda-img {
  background: url('~/../images/panda.jpg') no-repeat; 
  background-size: cover;
  height: 50vh;
  background-position: center; 
}

.header {
  color: white;
  background-color: black;
}

.header h1 {
  font-family: "Segoe UI", sans-serif;
  font-size: 46px;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  margin: 0;
  padding-top: 24px;
  padding-left: 10px;
}
.header img {
  height: 4em;
  width: auto;
  padding: 0.8em;
  font-size: 18px;
  vertical-align:middle
}

h2 {
  color: rgb(242, 133, 0);
}

.initial-hide {
  display: none;
}



@media screen and (max-width: 720px) {
  .article {
      width: 86vw;
      margin: 4vw;
  }
  .header img {
      font-size: 12px;
  }
  .header h1 {
      font-size: 25px;
      padding-top: 20px;
  }
}
